svg {
	background: #fff;
	overflow: visible;
	margin-bottom: 2rem;
	display: block;
	align-items: center;
	justify-content: center;
	transform: rotateX(55deg) rotateY(0deg) rotateZ(55deg);
	margin-left: 20em;
}
