.card__root {
	display: 'flex';
	flex-direction: row;
	flex-wrap: wrap;
}
/* .card__cover {
	flex: 1 0;
	height: 100;
	width: 20%;
}
.card__details {
	flex: 1 0;
	width: 50%;
} */
/* .card__content {
	flex: '1 0 auto';
}
.card__controls {
	display: 'flex';
	align-items: 'center';
	padding-left: 10px;
	padding-bottom: 10px;
} */
